body {
    background: transparent;
}

.ios-keyboard-shown {
    height: calc(66% - 80px) !important;
}

@media screen and (min-width: 370px) and (max-width:370px) {
    .twc-chat-window {
        box-sizing: border-box !important;
        border-radius: 10px !important;
    }
    .twc-header {
        border-top-left-radius: 9px !important;
        border-top-right-radius: 9px !important;
        box-sizing: border-box !important;
    }
}